html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

#navbar li{
  float: right;
  list-style-type: none;
}

#navbar a {
  display: block;
  width: 100px;
  text-align: center;
}