<h3>Register</h3>

<div class='errors'>
  <%if @errors%>
    <%= @errors[0]%>
  <%end%>
</div>


<form method="post" action="/users">
  <div class="form-center">
  <!-- <label for='user[username]'>Choose a username:</label> -->
  <input type='text' name='user[username]' placeholder=" choose a username"><br><br>
  <!-- <label for='user[email]'>Email:</label> -->
  <input type='text' name='user[email]' placeholder=" enter email"><br><br>
  <!-- <label for='user[password]'>Choose a password:</label> -->
  <input type='password' name='user[password]' placeholder="choose a password"><br><br>
  <input type='submit' value='Register' class="register-button">
  </div>
</form>

