<form id="question" method="post" action="/answers/<%=@answer.id%>">
<input type="hidden" name="_method" value="put">
  <textarea form="question" name="content" placeholder="Edit answer"></textarea>
	<br>
	<br>
	<br>
  <input type="submit" value="Edit answer">
	<br>
	<br>
	<br>
</form>