<form id="question" method="post" action="/answers">
  <textarea form="question" name="content" placeholder="Enter your answer"></textarea>
	<br>
	<br>
	<br>
  <input type="submit" value="Submit your answer">
	<br>
	<br>
	<br>
</form>