<form id="question" method="post" action="/comments">
  <textarea form="question" name="content" placeholder="Enter your comment"></textarea>
	<br>
	<br>
	<br>
  <input type="submit" value="Submit your comment">
</form>