
<div class="form-title">Log in Here!</div>


<form method='post' action='/login'>
  <div class="form-center">
  <!-- <label for='email'>Email:</label> -->
  <input name='email' type='text' placeholder='enter email'><br><br>
  <!-- <label for='password'>Password:</label> -->
  <input name='password' type='password' placeholder='enter password'><br><br>
  <input type='submit' value ='Log In' class="register-button">
    <div class='errors'>
        <% if @error_message %>
          Your login information was incorrect.
        <% end %>
    </div>
  </div>
</form>
