<form id="question" method="post" action="/questions">
  <input type="text" name="title" placeholder="Enter title">
	<br>
	<br>
	<br>
  <textarea form="question" name="content" placeholder="Enter your question"></textarea>
	<br>
	<br>
	<br>
  <input type="submit" value="Submit your question">
	<br>
	<br>
	<br>
</form>