<form id="question" method="post" action="/questions/<%=@question.id%>">
<input type="hidden" name="_method" value="put">
  <input type="text" name="title" placeholder="Edit title">
	<br>
	<br>
	<br>
  <textarea form="question" name="content" placeholder="Edit question"></textarea>
	<br>
	<br>
	<br>
  <input type="submit" value="Edit question">
	<br>
	<br>
	<br>
</form>