<form id="question" method="put" action="/questions">
  <input type="text" name="title" placeholder="Title">
	<br>
	<br>
	<br>
  <textarea form="question" name="content" placeholder="Your question here"></textarea>
	<br>
	<br>
	<br>
  <input type="submit" value="Submit new question">
	<br>
	<br>
	<br>
</form>